p {
    font-size: 20px;
    margin: 0;
}
a {
    font-size: 20px;
}
body {
    margin: 0;
}

/* ここからヘッダーパート */
header {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(244, 79, 79);
    text-align: center;
}
h1 {
    margin: 0;
}
/* ここまでヘッダーパート */


/* ここからmain要素全体パート */
#parent {
    display: flex;
    padding: 10px;
    justify-content:space-evenly;
}

.content {
    flex-basis: 25%;
    font-size: 25px;
    border: 3px solid rgb(238, 204, 204);
    padding: 10px 15px;
    margin: 20px 10px;
    text-align: center;
}
h2::before {
   content: "⚫︎";
   color: rgb(239, 111, 139);
}
.contents p:nth-of-type(2)::first-letter {
    font-weight: bold;
    color: rgb(97, 206, 249);
}
h2  {
    border-bottom: dotted 3px rgb(236,122,122);
}

/* ここまでmain要素全体パート */



/* ここからフッターパート */
footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
}
a:link {
    color: rgb(255, 255, 255);
}
a:visited{
    color:  rgb(193, 234, 251);
}    
a:hover {
    color: rgb(245, 178, 168);
}
/* ここまでフッターパート */



/* 以下の例では、画面幅が７６８px以下のときにスタイルが適用されます */
@media screen and (max-width: 768px) {
/* ここに通常のCSSを書きます。以下は一例です */
.contents {
    display: block;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 25px;
}
}